# Flutter
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Flutter/.last_build_id
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework/
*.iml
*.ipr
*.iws
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
*.log
*.pyc
__pycache__/
.env
*.env
node_modules/
.DS_Store
*.swp
*.swo
